.pobeda {
    width: 160px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('logoCompany/pobeda.png');
} 

.redwings {
    width: 183px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('logoCompany/redWings.png');
} 

.s7 {
    width: 143px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('logoCompany/s7.png');
}